@using (Html.BeginForm("Endereco", "Home", FormMethod.Get))
{
    <br />
    <input type="text" name="address" placeholder="Endereço..." autocomplete="on" />
    <button type="submit">Convert</button>
}

@{
    string address = ViewBag.Address;
    double? latitude = ViewBag.Latitude;
    double? longitude = ViewBag.Longitude;
}

@if (!string.IsNullOrEmpty(address))
{

    <h3>Endereço: @address</h3>
    if (latitude.HasValue && longitude.HasValue)
    {
        <p>Latitude: @ViewBag.Latitude</p>
        <p>Longitude: @ViewBag.Longitude</p>
    }
    else
    {
        <br />
        <p>Coordenadas não encontradas.</p>
    }
}
else
{
    <br />
    <p>Nenhum endereço foi digitado.</p>
}

